<%- include("templates/header") %> 
<div class="col-lg-6 col-xxl-4 my-5 mx-auto">
    <div class="d-grid gap-2">
      <a  href="/signup" class="btn btn-outline-danger" type="button" >Create Account</a>
      <a  href="/login" class="btn btn-warning" type="button">Sign In</a>
    </div>
  </div>

    <%- include("templates/footer") %>